@model FormListDto
@{
    ViewData["Title"] = "FormView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="m-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.FormTitle</h5>
            <p class="card-text">@Model.FormDescription</p>

            <form asp-controller="form" asp-action="questioncreate" method="get">
                <input type="hidden" value="@Model.Id" />
                <button type="submit" asp-controller="Form" asp-action="questioncreate" asp-route-id="@Model.Id" class="btn btn-success">Soru Ekle</button>
            </form>



            @if (Model.Questions != null)
            {
                @foreach (var question in Model.Questions)
                {

                    <div class="card m-3">
                        <div class="card-body">
                            <h5 class="card-title">@question.QuestionTitle</h5>
                            @foreach (var answer in question.Answers)
                            {
                                <div >
                                    <p style="color:darkslategrey" class="card-text"><i class="fa-solid fa-circle-notch"></i> @answer.Description</p>
                                </div>
                            }
                          @if (question.QuestionType==GoogleForms.Common.Enums.QuestionType.CoktanSecmeli||question.QuestionType==GoogleForms.Common.Enums.QuestionType.OnayKutulari)
                            {
                                <form asp-controller="form" asp-action="answercreate" method="get">
                                    <input type="hidden" value="@question.Id" />
                                    <button type="submit" asp-controller="form" asp-action="answercreate" asp-route-id="@question.Id" class="btn btn-success btn-sm">Cevap Ekle</button>
                                </form>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>





