@model List<FormListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success mt-2" role="alert">
    Fromlar
</div>

<div class="mt-2">
    <div class="container">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Form Başlığı</th>
                    <th scope="col">Form Açıklaması</th>
                    <th scope="col">Katılma Butonu</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var form in Model)
                {
                    <tr>
                        <td>@form.FormTitle</td>
                        <td>@form.FormDescription</td>
                        <td><a asp-action="joinform" asp-route-id="@form.Id" class="btn btn-success btn-sm">Katıl</a>
                            <a asp-action="analizeform" asp-route-id="@form.Id" class="btn btn-danger btn-sm">Analizi Gör</a>
                            <a asp-controller="form" asp-action="formview" asp-route-id="@form.Id" class="btn btn-primary btn-sm">Düzenle</a>
                            <a asp-controller="form" asp-action="formdownload" asp-route-id="@form.Id" class="btn btn-warning btn-sm">İndir</a>
                        </td>
                    </tr>
                }

            </tbody>
    </div>

    </table>
    <a asp-controller="Form" asp-action="FormCreate" class="btn btn-primary">Form Oluştur</a>
</div>



