@using GoogleForms.Common.Enums
@model List<AnswerListDto>
@{
    ViewData["Title"] = "JoinForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@if (Model.Count==1)
{
    <form asp-controller="form" asp-action="JoinForm" method="post">
        <input type="hidden" asp-action="joinform" asp-for="@Model.FirstOrDefault().QuestionId" value="@Model.FirstOrDefault().QuestionId" />
        <div class="m-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.</h5>
                    @if (Model.FirstOrDefault().Question.QuestionType == QuestionType.KisaYanit)
                    {
                        <div class="mb-3">
                            <label>@Model.FirstOrDefault().Question.QuestionTitle</label>

                            <input type="text" class="form-control" asp-for="@Model.FirstOrDefault().Description">
                        </div>
                    }


                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Gönder</button>
    </form>
}
else
{

}








