@using GoogleForms.Common.Enums
@model List<AnswerListDto>
@{
    ViewData["Title"] = "JoinForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-controller="form" asp-action="JoinForm" method="post">

    @foreach (var answer in Model)
    {
        <input type="hidden" asp-action="joinform" asp-for="@answer.QuestionId" value="@answer.QuestionId" />
        <div class="m-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@answer.Question.QuestionTitle</h5>
                    @if (answer.Question.QuestionType == QuestionType.KisaYanit)
                    {
                        <div class="mb-3">
                            <label>@answer.Question.QuestionTitle</label>
                            <input type="text" class="form-control" asp-for="@answer.Description">
                        </div>
                    }
                </div>
            </div>
        </div>
    }


    <button type="submit" class="btn btn-primary btn-lg">Gönder</button>
</form>




